<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Focusense | I understand you more and better.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ TEMPLATE_PATH }}assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: url({{ TEMPLATE_PATH }}assets/img/grid-18px-masked.png);
      }
    </style>
    <link href="{{ TEMPLATE_PATH }}assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>

<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Focusense</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Search</a></li>
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Sign Up</a></li>
                    </ul>
                  </li>
                  <li><a href="#contact">Contact</a></li>

            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" align="center">
        <h1><img src="{{ TEMPLATE_PATH }}assets/img/lab_logo_transprant.png" alt="Calcbot" width="92" height="92" />  Focusense</h1><hr>
        <input type="text" class="span3" style="margin: 0 auto;width:700px;height:30px;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'><a class="btn btn-primary btn-large" style="margin-left:30px;">Search &raquo;</a>
      </div>

      <!-- Example row of columns -->
      

      <hr>

     <footer>
        <p>&copy; <a href="http://labs.ericyue.info">Moonlight Labs</a> 2012</p>
      </footer>

    </div> <!-- /container -->
<blockquote class="pull-right">
  <p><b>Focusense, just another search engine who understands you more and better.</b></p>
  <small><cite>Lab Founder : Eric Yue</cite></small>
</blockquote>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ TEMPLATE_PATH }}assets/js/jquery.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-transition.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-alert.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-modal.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-tab.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-popover.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-button.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-collapse.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-carousel.js"></script>
    <script src="{{ TEMPLATE_PATH }}assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
