{% extends "base.html" %}
{% load search_template_tag_extra %}

{% block header %}

<script src="/static/js/timeline.js"></script>
<script src="/static/js/flipify.js" type="text/javascript" charset="utf-8"></script>
<link href="/static/css/timeline.css" rel="stylesheet">

{% endblock%}
{% block title %}我的时间轴 - {% endblock %}

{% block content %}
	<header class="hero-unit" align="center">
	   <div class="well">
	       <h1>Under Construction</h1>
	       <h2>Coming Soon...</h2>
	   </div>
	</header>
	
{% endblock %}